@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
:root {
    --heading-font : "Rock Salt";
    --paragraph-font: Roboto, Helvetica, sans-serif;
}

/*week 7*/
header {
    display: grid;
    grid-template-columns: 150px auto;
    
}

nav {
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
/*week 7*/

#contents {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color:#141648;
    text-decoration: none;
    text-align: center;
    padding: 35px;

}

#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {  
    background-color: #82bfa0;
    color: #fdf2c5;
}
nav a:hover {
    background-color: #c6d1a6;
    color: #141648;
}
.book {
    background-color: #7a6f5d;
    color: #c6d1a6;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #fdf2c5;
    color: #7a6f5d;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #c6d1a6;
    color: #7a6f5d;
}
.join:hover{
    background-color: #7a6f5d;
    color: #fdf2c5;
}
#background {
    background-color: #fdf2c5;
}
.msg{
    background-color: #82bfa0;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #82bfa0;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h4 {
    color: black;
}
.msg h2 {
    color: #141648;
}
.msg p {
    color: #24276d;
}
footer h3 {
    color: #141648;
}
footer a {
    color: #24276d;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a:hover {
    color: #7a6f5d;
}
footer h3 a:hover {
    text-decoration: underline;
}

/*WEEK05 - steep 2*/
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    color: #82bfa0;
    margin-top: 10px;
}
.book {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
.join {
    font-size: 18px;
}
.msg p {
    font-size: 18px;
    padding: 15px;
}
 /*step 3*/
h2 {
    margin: 0;
}

/*step 4*/
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
    
}

/*step 05*/
.rivers-card {
    margin: 200px 0;
} 
.camping-card{
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}

/*step 6*/
.card-img {
    border: 10px solid #7a6f5d;
    transition: transfor .5s;
    box-shadow: 5px 5px 10px #d9c2a3;

}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}

/*week 7*/
.home-grid {
    display: grid;
    grid-template-columns: 10fr;
}

.card-imgs {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*week 7*/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

