#contents {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color:#141648;
    text-decoration: none;
}

#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
}
header {  
    background-color: #ffc42e;
    color: #ffc42e;
}
nav a:hover {
    background-color: #d13c74;
    color: #141648;
}
.book {
    background-color: #ffc42e;
    color: #141648;
    text-decoration: none;
}
.join {
    background-color: #d13c74;
    color: black;
    text-decoration: none;
}
.book:hover {
    background-color: #d13c74;
    color: #ffc42e;
}
.join:hover{
    background-color: #24276d;
    color: #ffc42e;
}
#background {
    background-color: #d13c74;
}
.msg{
    background-color: #ffc42e;
}
footer {
    background-color: #ffc42e;
}

.home-title {
    color:black
}
h4 {
    color: black;
}
.msg h2 {
    color: #141648;
}
.msg p {
    color: #24276d;
}
footer h3 {
    color: #141648;
}
footer a {
    color: #24276d;
    text-decoration: none;
}
footer a:hover {
    color: #d13c74;
}
footer h3 a:hover {
    text-decoration: underline;
}

