@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
:root {
    --heading-font : "Rock Salt";
    --paragraph-font: Roboto, Helvetica, sans-serif;
}


#contents {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color:#141648;
    text-decoration: none;
    text-align: center;
    padding: 35px;

}

#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {  
    background-color: #82bfa0;
    color: #fdf2c5;
}
nav a:hover {
    background-color: #c6d1a6;
    color: #141648;
}
.book {
    background-color: #7a6f5d;
    color: #c6d1a6;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #fdf2c5;
    color: #7a6f5d;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #c6d1a6;
    color: #7a6f5d;
}
.join:hover{
    background-color: #7a6f5d;
    color: #fdf2c5;
}
#background {
    background-color: #fdf2c5;
}
.msg{
    background-color: #82bfa0;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #82bfa0;
}

h4 {
    color: black;
}
.msg h2 {
    color: #141648;
}
.msg p {
    color: #24276d;
}
footer h3 {
    color: #141648;
}
footer a {
    color: #24276d;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a:hover {
    color: #7a6f5d;
}
footer h3 a:hover {
    text-decoration: underline;
}

/*WEEK05 - steep 2*/
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    color: #82bfa0;
    margin-top: 10px;
}
.book {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
.join {
    font-size: 18px;
}
.msg p {
    font-size: 18px;
    padding: 15px;
}
 /*step 3*/
h2 {
    margin: 0;
}

/*step 4*/
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
    
}

/*step 05*/
.rivers-card {
    margin: 200px 0;
} 
.camping-card{
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}

/*step 6*/
.card-img {
    border: 10px solid #7a6f5d;
}
main section img {
    box-sizing: border-box;
}

