#contents {
    width: 1600px;
    text-align: center;
    margin: 0 auto;
}

.background{
    height: 725px;
}

body {
    background-color: #F5F5F5
}
header {
    background-color: #ffc42e;
}
nav a:hover {
    background-color: #d13c74;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    text-decoration: none;
}   

.book {
    text-align: center;
    text-decoration: none;
}    

.join {
    text-align: center;
    text-decoration: none;
}    

footer a {
    text-align: center;
    color: #d13c74;
    text-decoration: none;
}

footer {
    text-decoration: underline;
}
 h3 {
     text-decoration: underline;
 }

 a:hover {
     text-decoration: underline;
 }