::content {
    text-align: center;
    width: 1600px;
    margin: 0 auto;
}

.background{
    height: 725px;
}

body {
    background-color: #fcfbfb; 
}
header {
    background-color: #ffc42e;
}
nav a:hover {
    background-color: #d13c74;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    text-decoration: none;
}   

.book {
    text-align: center;
    text-decoration: none;
}    

.join {
    text-align: center;
    text-decoration: none;
}    

footer a {
    text-align: center;
    color: #d13c74;
    text-decoration: none;
}

